<!-- <p id="notice"><%= notice %></p>


<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %> -->
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<%= render @card %>


<!-- <div class="card_title">Your Card</div>
<table>
	<%= render(@card.line_items) %>
	<tr class="total_line">
		<td colspan="2">Total</td>
		<td class="total_cell"><%= number_to_currency(@card.total_price) %></td>
	</tr>
</table>
<%= button_to 'Empty card', @card, method: :delete,
confirm: 'Are you sure?' %> -->