<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
	<div id="banner">
		 <%= image_tag("logo.png") %>  <!-- image_tag генерує img тег-->
		<%= @page_title  || "Pragmatic Bookshelf" %>
	</div>
	<div id="columns">
		<div id="side">
			<div id="card">
				<% if @card %>
					<%= hidden_div_if(@card.line_items.empty?, id: 'card') do %>
					<%= render @card %>
					<% end %>
				<% end %>
			</div>
			
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Questions</a></li>
				<li><a href="#">News</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
			
			<% if session[:user_id] %>
				<ul>
					<li><%= link_to 'Orders', orders_path %></li>
					<li><%= link_to 'Products', products_path %></li>
					<li><%= link_to 'Users', users_path %></li>
				</ul>
				<%= button_to 'Logout', logout_path, method: :delete %>
			<% end %>
			
		</div>
		<div id="main">
			<%= yield %>
		</div>
	</div>
</body>
</html>
